/* src/App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.App {
  text-align: center;
}

header {
  background-color: #002147;
  color: white;
  padding: 20px 0;
}

header h1 {
  margin: 0;
}

main {
  padding: 20px 0;
}

footer {
  background-color: #002147;
  color: white;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
